body { 
	font-family: Georgia; 
	font-size: 20px;
	width: 1200px;
	margin: 15px auto;
	background-color: #030810;
	color: white;
}
h1 { 
	font-family: Georgia;
	font-size: 60px;
	text-align: center;
	color: #18D4FE;	
}
h2 { 
	font-family: Georgia;
	font-size: 40px;
	text-align: center;	
}
h3 { 
	font-family: Georgia;
	font-size: 20px;
	background-color: #081626;
	text-align: center;
}
#banner {
	background-image: url("../pics/ep.jpg");
	background-size: cover;
	background-position: top center;
	height: 1200px;
	width: 100%;
	position: relative;
}

/*INDEX*/
#index li{
	
	width: 150px;
	display: inline-block;
}
header { 
	font-family: Georgia; 
	font-size: 20px;
	margin: 15px auto;

}
ul li{
	margin: 15px auto;
	text-align: center;
	border: none;
}
ol, ol li{
	margin: 15px auto;
	text-align: center;
	background-color: #081626;
}

/* OG*/
.cards li {
	display: inline-block;
	width: 140px;
	position: absolute;
	box-sizing: border-box;
}
.cards img{
	display: inline-block;
	width: 140px;
	border: none;
	box-sizing: border-box;
}

#og img{
	margin: 50px 0 0 0;	
}
#singles img{
	margin: 90px 0 0 0;	
}
